/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    /*background: var(--main-color);*/
    background-attachment: fixed;
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px 20px 0 0;
    position: relative;
    z-index: 0;
}

.header__theme-menu {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.header__theme-menu-list {
    color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    justify-self: center;
    gap: 10px;
}

.header__theme-menu-button {
    font-size: 18px;
    background: transparent;
    border: transparent solid 1px;
    width: 70px;
    min-height: 26px;
    display: flex;
    line-height: 18px;
    justify-content: center;
    align-content: center;
    color: var(--title-text-color);
    outline: none;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
    border-bottom: solid 1px var(--title-text-color);
}

.header__theme-menu-button_active {
    border: var(--title-text-color) solid 1px;
}

.header__title {
    align-self: center;
    padding-bottom: 20px;
}

.title {
    text-shadow: 4px 4px var(--accent-color);
    color: var(--header-text-color);
    font-weight: var(--bold-font);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 130px;
}

.header__text {
    font-weight: var(--bold-font);
    width: 491px;
    margin-top: 44px;
    align-self: start;
    justify-self: end;
}

.content__container__text {
    font-weight: var(--regular-font);
    color: var(--text-color);
}

.link {
    text-shadow: 2px 2px var(--accent-color);
    text-decoration: none;
    outline: none;
}

.link:hover {
    border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
    outline: 1px solid var(--text-color);
}

.title-decor {
    background: var(--accent-color);
    color: var(--title-decor-color);
}

/*Не понял абсолютно комментария по этому место, сделал как подсказал наставник в пачке*/
/*На деле, мне кажется, это просто шило на мыло, во всех компаниях по сути свой код-стайл и у себя*/
/*я бы реализовал эти уголки через абсолютные блоки, у которых был бы общий класс и индивидуальный*/
.decorated__zone::after {
    content: "";
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    position: absolute;
    border-top: 1px solid var(--title-text-color);
    border-right: 1px solid var(--title-text-color);;
}

.decorated__zone::before {
    content: "";
    width: 25px;
    height: 25px;
    bottom: 20px;
    left: 20px;
    position: absolute;
    border-bottom: 1px solid var(--title-text-color);
    border-left: 1px solid var(--title-text-color);
}

.bulb {
    top: 20px;
    right: 29px;
    position: absolute;
    color: var(--accent-color);
    display: var(--bulb-state);
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    line-height: 25px;
    font-size: 18px;
}

.bulb::after {
    align-self: center;
    content: "";
    background: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
    height: 9px;
    width: 9px;
}

.main {
    padding: 60px 20px;
}

.content__container {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: 20px;
}

.content__container:not(:last-of-type) {
    margin-bottom: 80px;
}

.content__container__horizontal {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.content__container__horizontal .content__container_header {
    width: 315px;
}

.content__container__horizontal .text_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__container_header {
    margin-bottom: 20px;
    color: var(--title-text-color)
}

.text__container__header {
    font-weight: var(--bold-font);
    background: var(--accent-color);
    font-size: 18px;
}

.text__container__title {
    font-weight: var(--bold-font);
    font-size: 18px;
    margin-bottom: 10px;
}

.text__container__title__regular {
    font-weight: var(--regular-font);
}

.image__container {
    display: flex;
    flex-direction: column;
}

.sunset {
    grid-area: sunset;
}

.ice-cream {
    grid-area: ice-cream;
}

.books {
    grid-area: books;
}

.tape {
    grid-area: tape;
}

.street {
    grid-area: street;
}

.images__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 260px 315px 428px;
    gap: 20px;
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    display: block;
}

.footer {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .title {
    padding-top: 9px;
    text-shadow: 2px 2px var(--accent-color);
    align-self: center;
}


@media (width <= 768px) {

    .title {
        line-height: 99px;
        padding-top: 15px;
    }

    .header__theme-menu {
        align-self: end;
        padding: 0 0 65px 0;
        justify-content: end;
    }

    .header__theme-menu-list {
        justify-content: end;
        flex-direction: column;
    }

    .header__title {
        margin-bottom: 10px;
        align-self: center;
    }

    .header__text {
        align-self: start;
        margin-top: 35px;
        width: 364px;
    }

    .main {
        padding: 60px 20px;
    }

    .content__container {
        grid-template-columns: 236px 1fr;
        gap: 20px;
    }

    .content__container__horizontal {
        gap: 0;
    }

    .content__container__horizontal .content__container_header {
        width: 236px;
    }

    .content__container__horizontal .text_container {
        display: flex;
    }

    .images__grid {
        grid-template-rows: 192px 230px 318px;
    }

}

@media (width <= 560px) {

    .header {
        padding: 10px;
    }

    .header__theme-menu {
        padding: 14px 0 0 0;
        align-self: center;
    }

    .header__title {
        padding-bottom: 5px;
    }

    .title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        line-height: 96px;
    }

    .header__text {
        justify-self: center;
        align-self: center;
        margin: 0 0 16px 0;
        width: 355px;
    }

    .decorated__zone::after {
        top: 10px;
        right: 10px;
        border-left: none;
        border-bottom: none;
    }

    .decorated__zone::before {
        bottom: 10px;
        left: 10px;
        border-right: none;
        border-top: none;
    }

    .bulb {
        top: 10px;
        right: 19px;
    }

    .main {
        padding: 40px 10px;
    }

    .content__container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .content__container:not(:last-of-type) {
        margin-bottom: 50px;
    }

    .content__container__horizontal .content__container_header {
        width: 355px;
    }

    .image__container {
        gap: 10px;
    }

    .images__grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer {
        align-content: center;
        justify-content: center;
        padding: 0;
    }
}